/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel {
    height: auto;
    width: 100%;
    border: none;
    background: white;
    overflow-x: scroll;
}

.itemcard {
    height: auto;
    display: flex;
}

.img-description {
    width: 50%;
}

/* .dropdown-menu {
    width: 280px;
} */

.favs-menu {
    background-color: transparent;
    color: darkslategrey;
}

.favs-menu:hover {
    background-color: transparent;
    border-bottom: 1px solid burlywood;
    color: darkslategrey;
}

.dropdown-item:hover {
    background-color: white;
}

.dropdown-btn:hover {
    border: 0;
    color: darkred;
    cursor: pointer;
    font-size: larger;
}